*{
    margin: 0;
    padding: 0;
    border: solid 2px;
}
.nav{
    height: 76px;
     width: 100%;     
    position: fixed; 
    border: none;
    background-color: rgb(255, 255, 255);
    border: #fd5825;
    z-index: 1;
}
#nav-icon{
  
    position: relative;
    left: 280px;
}
#adi{
    height: 60px;
    padding-left: 68px;
    padding-top: 8px;
}
ul{
 position: relative;
 top: -50px;
}
li{
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    text-decoration: none;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 500;
   
}
#home{
    margin-left: 350px;
    color: #fd5825;
    font-weight: 700 
    
}
#our{
    border: none;
    font-weight: 500;
}
#our:hover{
    color: #fd5825;
}
li:hover{
    color: #fd5825;
}
#logo{
    margin-left: 850px;
    margin-top: 50px;
    display: inline-block;
    background-color: white;
}
h1{
    padding-right: 550px;
    display: inline-block;
    position: relative; 
    top: -450px;
    padding-left: 90px;
}
#Request{
    margin-left: 80px;
    position: relative;
    top: 50px;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    border: none;
    background-color: #fd5825;
}
.card1{
    height: 300px;
    width: 330px;
    font-family: 'Montserrat',sans-serif;
    border: solid;
    position: absolute; 
    top: 600px;
    left: 150px;
    border-radius: 4px;
    background-color: #fd5825;
    border-style: none;

}
.card2{
    height: 300px;
    width: 330px;
    font-family: 'Montserrat',sans-serif;
    border: solid;
    position: absolute; 
    top: 600px;
    left: 570px;
    border-radius: 4px;
    background-color: #f3a71d;
    border-style: none;
}
.card3{
    height: 300px;
    width: 330px;
    font-family: 'Montserrat',sans-serif;
    border: solid;
    position: absolute; 
    top: 600px;
    left: 980px;
    border-radius: 4px;
    background-color: #999a1c;
    border-style: none;
}
.card:hover{
    transform: scale(1.1);
}
.img-container{
    display: inline-block;
    position: relative;
    width: 100%; 
    height: 200px;
    top: 550px;
    left: 0px;
    background-color: rgb(255, 255, 255);
}
.img-scr{
    position: absolute;
    right: 300px;
    bottom: 2px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
@keyframes scroll{
    100% {
        transform: translateX(-100%);
    }
}
.img-scr1{
    display: inline-block;
}
.block2{
    height: 162px;
    /* width: 100%; */
    background-color:#fd5825;
    position: relative;
    top: 550px;
}
.bar{
    position: absolute;
    height: 160px;
    width: 100%; 
    background-color: #fe5825;
    top: 1250px;
}
.h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    display: inline-block; 
    margin-right: 80px;
    margin-top: 50px;
}
#h44{
    margin-left: 100px;
}
#bar-para1{
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 100px;
    text-align: center;
}
.foo-card{
    display: inline-block;
    height: 450px;
    width: 300px;
    margin-left: 30px;
    padding: 20px;
}
.footer
{
    position: absolute;
    background-color: #ffffff;
    top: 1500px;
    left: 80px;
    font-family: 'Montserrat', sans-serif;
}
.foo-block{
    position: absolute;
    height: 70px;
    width: 300px;
}
.foo-h6,.foo-h61{
    font-size: 10px;
    color: #6c757d;
    line-height: 2.3;
}
.foo-h61{
    font-size: 25px;
}
.foo-hp{
    font-size: 15px;
    color: #6c757d;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-right: 90px;
    
}
.foo-hp1{
    font-size: 13px;
}
.add-1{
    margin-bottom: 20px;
}
.foo-hp2{
    font-size: 21px;   
}
.fin-footer{
    position: absolute;
    height: 70px;
    /* width: 100%; */
    top: 2000px;
    background-color: #e8ebef ;
    text-align: center;
}
.fin-footer1{
    position: absolute;
    top: 25px;
    left: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#bold{
    font-weight: bold;
}
#contact{
    color: white;
    background-color: #fd5825;
    padding: 10px 10px 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}